

#bodycare > div > div > button {
    border: 1px solid white;
    background-color: #5b9687;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#clean > div > div > button {
    border: 1px solid white;
    background-color: #cf6563;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#health > div > div > button {
    border: 1px solid white;
    background-color: #588061;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#shop > div > div > button {
    border: 1px solid white;
    background-color: #855478;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#social > div > div > button {
    border: 1px solid white;
    background-color: #d1663c;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#study > div > div > button {
    border: 1px solid white;
    background-color: #a74c79;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#others > div > div > button {
    border: 1px solid white;
    background-color: #535269;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}
