

#bodycare > div > div > button, #bodycare-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#clean > div > div > button, #clean-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#health > div > div > button, #health-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#shop > div > div > button, #shop-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#social > div > div > button, #social-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#study > div > div > button, #study-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}

#others > div > div > button, #others-done > div > div > button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;

    
    &:hover {
        background-color: #e0b987;
    }
}
