
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

.addtask-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    width: 15vw;
    gap: 30px;
    padding: 40px 30px;

}

.createnew-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;

    .choosecategory-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 10px;
    }

    .addchore-container {
       @extend.choosecategory-container;
       gap: 10px;
       padding: 20px 10px; 
    }
}

#todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    width: 40vw;
    gap: 30px;
    padding: 40px 30px;
    color: white;

    .chore-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
}

.category-container {
    width: 90%;
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    

}

.finnished-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    width: 25vw;
    gap: 30px;
    padding: 40px 30px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__chore {
        font-size: 1.1rem;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
}

span {
    font-weight: normal;
    font-size: 1rem;
}

.finnished-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#clean {
    display: flex;
    flex-direction: column;
    gap: 10px;
}