@use "layout";
@use "reset";
@use "mixins";
@use "buttons";

body {
    background-color: #fadfdf;
    flex-direction: column;
}

.content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.addtask-container, #todo-container, .finnished-container {
    background-color: rgb(238, 175, 175);
    color: white;
    @include mixins.container-box;
}

.createnew-container {
    background-color: #ce6965;
}


h3 {
    // border-bottom: 3px dotted white;
    // text-transform: uppercase;
    font-size: 4rem;
    color: white;
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
    
}

h4 {
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

label {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

input {
    height: 30px;
}


.bodycare{
    background-color: #75beac;

    &-finnished {
        background-color: #c2d1cd;
    }
}

.clean {
    background-color: #F28482;

    &-finnished {
        background-color: #ffc0bf;
    }
}

.health{
    background-color: #77a080;

    &-finnished {
        background-color: #adcfb5;
    }
}

.shop {
    background-color: #916886;

    &-finnished {
        background-color: #bb9cb3;;
    }
}

.social {
    background-color: #f18053;

    &-finnished {
        background-color: #ec9876;
    }
}

.study {
    background-color: #c26594;

    &-finnished {
        background-color: #da94b7;
    }
}

.others {
    background-color: #787788;
    
    &-finnished {
        background-color: #aeaeb9;
    }
}


