@use "layout";
@use "reset";
@use "mixins";
@use "buttons";


.content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.addtask-container, #todo-container, .finnished-container {
    background-color: rgb(238, 175, 175);
    color: white;
    @include mixins.container-box;
}

.createnew-container {
    background-color: #bd7f7f;
}

h3 {
    font-size: 4rem;
    color: white;
    font-family: "Dancing Script", Arial, Helvetica, sans-serif; 
}

h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    border-bottom: 1px solid white;
    font-weight: lighter;
}

label {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    border-bottom: 1px solid white;
}

input {
    height: 30px;
}

// bakgrundsfärg för de olika kategorina

.bodycare{
    background-color: #75beac;

    &-finnished {
        background-color: #c2d1cd;
    }
}

.clean {
    background-color: #F28482;

    &-finnished {
        background-color: #ffc0bf;
    }
}

.health{
    background-color: #77a080;

    &-finnished {
        background-color: #adcfb5;
    }
}

.shop {
    background-color: #916886;

    &-finnished {
        background-color: #bb9cb3;;
    }
}

.social {
    background-color: #f18053;

    &-finnished {
        background-color: #ec9876;
    }
}

.study {
    background-color: #c26594;

    &-finnished {
        background-color: #da94b7;
    }
}

.others {
    background-color: #787788;
    
    &-finnished {
        background-color: #aeaeb9;
    }
}


