@import "layout";
@import "reset";


body {
    background-color: #fadfdf;
}

.addtask-container, #todo-container, .finnished-container {
    background-color: rgb(255, 255, 234);
}

h3 {
    border-bottom: 3px solid black;
}

h4 {
    border-bottom: 1px solid black;
    text-transform: uppercase;
}




.bodycare{
    background-color: #84A59D;

    &-finnished {
        background-color: #cce0db;
    }
}

.clean {
    background-color: #F28482;

    &-finnished {
        background-color: #ffc0bf;
    }
}

.health{
    background-color: #F5CAC3;

    &-finnished {
        background-color: #ffe7e3;
    }
}

.shop {
    background-color: #FFD1F3;

    &-finnished {
        background-color: #ffdcf6;
    }
}

.social {
    background-color: #F6BD60;

    &-finnished {
        background-color: #fadeb0;
    }
}

.study {
    background-color: #D99AC5;

    &-finnished {
        background-color: #ffddf4;
    }
}

.others {
    background-color: #BAD7F2;
    
    &-finnished {
        background-color: #dfe9f3;
    }
}


